* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(18, 18, 18, 0.5);
    border-bottom: 3px solid rgba(41, 41, 41, 0.5);
    color: #dedede;
}

tooltip {
  background: rgba(18, 18, 18, 0.5);
  border: 1px solid rgba(41, 41, 41, 0.5);
}

label, box {
  color: #dedede;
}

label:nth-child(3n+1) {
    background-color: #bb86fc;
    color: #121212;
}

label:nth-child(3n-1) {
    background-color: #3700b3;
    color: #dedede;
}

label:nth-child(3n) {
    background-color: #03dac6;
    color: #121212;
}

@keyframes blink {
    to {
        background-color: #dedede;
        color: #121212;
    }
}

#battery.warning:not(.charging) {
    background: #cf6679;
    color: #121212;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}