* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(18, 18, 18, 0.5);
    border-bottom: 3px solid rgba(55, 55, 55, 0.5);
    color: #dedede;
}

tooltip {
    background: rgba(18, 18, 18, 0.5);
    border: 1px solid rgba(55, 55, 55, 0.5);
}

.modules-right label {
    padding: 0 10px;
    margin: 0 5px;
}

.modules-right box {
    padding: 0 10px;
    margin: 0 0 0 5px;
}

.modules-right widget:nth-child(3n+1) label {
    background-color: #3700b3;
    color: #dedede;
}

.modules-right widget:nth-child(3n-1) label {
    background-color: #bb86fc;
    color: #121212;
}

.modules-right widget:nth-child(3n) label {
    background-color: #373737;
    color: #dedede;
}

.modules-right box {
    background-color: #1f1f1f;
    color: #dedede;
}

@keyframes blink {
    to {
        background-color: #dedede;
        color: #121212;
    }
}

#battery.warning:not(.charging) {
    background: #cf6679;
    color: #121212;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}